web/xsd/Get End-User Data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="secuotp">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="service">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="sid"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="authentication">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="domain"/>
              <xs:element type="xs:string" name="serial"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="parameter">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="username"/>
              <xs:element type="enum" name="type" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="enum">
    <xs:restriction  base="xs:string">
                  <xs:enumeration value="full" />
                  <xs:enumeration value="default" />
                </xs:restriction >
  </xs:simpleType>
</xs:schema>